.antigravitycli/
venv/
wsl_venv/
.env
Data/Done
Data/Input
OCR/DeepSeek/
OCR/MinerU/
OCR/unstructured_poc/
qdrant_storage/
Chunking/vector_db
redis_data
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/